html,body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    background-color: rgb(248, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    gap: 20px;
    background-color: rgb(49, 36, 78);
    border-radius: 10px;
    padding: 5rem 2rem;
    box-shadow: 0px 0px 20px 0px black;
    border: 1px solid black;
}
h2{
    color: aliceblue;
    font-size: 2rem;
}
input{
    border: 2px solid cyan;
    border-radius: 3rem;
    background: transparent;
    padding: 1rem 2rem;
    margin: 1rem;
    width: 10rem;
    font-size: 1rem;
    text-align: center;
    outline: none;
   
    transition: all .2s ease-in-out;
}
.loginbtn{
 border: 2px solid green;
 border-radius: 3rem;
 background: transparent;
 color: #fff;
 transition: all .2s ease-in-out;
 font-size: 1rem;
 padding: 1rem 2rem;
 margin: 1rem;
}
.loginbtn:hover {
    background: rgb(72, 171, 72);
    border: 2px solid green;
    
}

input:focus {
    width: 20rem;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes colorChange {

    0% {
        border-color: green;
        color: green;
    }

    10% {
        border-color: yellow;
        color: yellow;

    }
    30% {
        border-color: red;
        color: red;
    }

    40% {
        border-color: purple;
        color: purple;
    }

    50% {
        border-color:pink;
        color: rgb(255, 0, 81);

    }

    60% {
        border-color: cyan;
        color: cyan;
    }

    70% {
        border-color: skyblue;
        color: skyblue;
    }

    80% {
        border-color: pink;
        color: pink;
    }

    90% {
        border-color: red;
        color: red;
    }

    100% {
        border-color: yellow;
        color: yellow;
    }
}